/* src/pages/PerfilUsuario.css */

.perfil-layout {
  display: flex;
  min-height: 100vh;
 
}

.perfil-content {
  flex: 1;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin: 2rem;
}

.perfil-info h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.perfil-info h2 span {
  color: #007bff;
  font-weight: 600;
}
.perfil-info {
  margin-bottom: 2rem;
}

.perfil-info h2 span {
  color: #007bff;
}

.perfil-actions button {
  margin-right: 1rem;
  padding: 0.7rem 1.5rem;
  font-size: 1rem;
  border: none;
  background-color: #0d6efd;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.perfil-actions button:hover {
  background-color: #0b5ed7;
  transform: scale(1.02);
}
/* Responsive */
@media (max-width: 568px) {
  .perfil-layout {
    flex-direction: column;
  }

  .perfil-content {
    padding: 1rem;
  }
}
